body {
    background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    color: gainsboro;
}
/* Content of site after title */
.content {
    display: flex;
    flex-wrap: wrap;
    
}

/* Name Star Wars */
.page-title {
    text-align: center;
    font-size: 60px;
    font-family: Star Jedi;
    

}
/* description */
p {
    font-family: LuloCleanW01-OneBold;
    text-align: center;
    color: white;
    
}
/* Cards items */
.card {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 3px solid white;
    flex: 1 1 200px;
}

.card-title {
    border: 1px solid white;
    padding: 30px;
    font-family: LuloCleanW01-OneBold;
    margin: 30px;
    font-size: 25px;
    color: white;
}

.list-group {
list-style: none;
margin: 0;
padding: 0;
color: white;
}

.list-group {
    font-size: 20px;
}

.list-item {
    padding: 10px 20px 20px 10px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: LuloCleanW01-OneBold;
    border-bottom: 1px solid rgb(255, 255, 255);
}

